*{
    margin: 0;
    padding:0;
}
body{
    background-color: rgba(229, 230, 225, 0.836);
}
.container{
    height:100vh;
    background-image: url('./images/hero.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.container::before{
    content:"";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: relative;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    color:white;
    position: absolute;
    /* background-color: white; */
    width:100%;
    left:9.5%; 
    width:80%;
    
}
.midnav{
    display:flex;
    gap:20px;
    justify-content:center;
    align-items: flex-end;
    /* justify-content:space-around; */
    /* width:20%; */
}
.endnav{
    display:flex;
    gap:20px;
}
.heroe{
    display:flex;
    flex-direction: column;
    /* width:80%; */
    height:100vh;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    padding:20px;
    gap:20px;
    width:80%;
    left:9.5%;
    position:absolute;
}
.first{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    background-size: cover;
}
.button{
    display:flex;
    flex-direction: row;
    gap:20px;
}
.bt1{
    color: white;
    border-radius: 20px;
    background-color: #3f95e6;
    padding:10px;
}
.bt2{
    color: white;
    border-radius: 20px;
    background-color: transparent;
    border:1px white solid;
    padding:10px;
}
.cards{
    display:flex;
    align-items: center;
    width:80%;
    position:relative; 
    /* z-index: 1; */
    left:9.5%;
    top:-20vh;
    justify-content: space-between;
    gap:20px;
    padding:10px;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    /* align-items: center; */
    justify-content: center;
    display:flex;
    flex-direction: column;
    height:150px;
    padding:20px;
    /* width:26rem; */
    border: #3f95e6 solid 1px;
    /* width:100%; */
    gap:20px;
    
    /* position:absolute; */
    /* justify-content: center; */

}
.card.blue{
    background-color: #3f95e6;
    color: white;
}
.secon{
    background-color: rgba(229, 230, 225, 0.836);
    height:290vh;
    display:flex;
    /* align-items:center; */
    justify-content: center;
    flex-wrap: wrap;

}
.one{
    display:flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* margin-top:30%; */
    /* padding-top: 2%; */

    width:100%;
    min-height:200px;
    /* top:-40%; */
    /* gap:20px; */
    /* padding:10px; */
   
    background-color: white;
    /* bottom:  */
}
.section{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* height:70%; */
    padding:20px;
    width:16rem;
    background-color: white;
}
.section.two{
    flex-wrap: wrap;
}
.two,.pricing{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height:8rem;
    /* padding:5%; */
    /* bottom:-79%;  */

    /* height:100vh; */
    /* bottom: ; */
    /* height:50vh; */
}
.three{
    display:flex;
    /* align-items: center;  */
    justify-content: center;
    width:100%;
    /* min-height:300px; */
    justify-content:space-evenly ;
    flex-wrap: wrap; 
}
.section.person{
    /* height:100px; */
    /* width:300px; */
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */

    justify-content: space-evenly;
}
.section.two{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.sponsor{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-items: center;
    padding:20px;
    bottom: 10%;
    /* margin-top: 200px; */
    width:95%;
    margin-left:1rem;
} 
.logo{
    width:100px;

}
.newsletter{
    width:80%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* min-height:100px; */
    padding:20px;
    background-image: linear-gradient(rgb(6, 6, 182),rgb(46, 0, 46));
    color: #fff;
    /* padding:2% 10% 2% 10%; */
    /* background-image: linear-gradient(rgb(5, 5, 150) rgb(128, 0, 128)); */
    
}
.subscribe{
    display:flex;
    justify-content:flex-start ;
    width:50%;
}
.subbutton{
    display:flex;
    /* justify-content:flex-start ; */
    justify-content: center;
    width:50%;
}
.btn1{
    width:70%;
    background-color: #fff;
    color: gray;
    padding:5%;
}
.btn2{
    width:30%;
    background-color: #5e9ae9;
    color: white;
    padding:5%;
    display:flex;
    justify-content: center;
}
.charges{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: #3f95e6 solid;
    width: 20%;
    justify-content: space-between;
    border-radius: 3%;  
}
.zero{
    font-size: 4rem;
}
.dollars{
    font-size: 1.3rem;
}

.premium{
    padding-top: 2%;
    height: 97%;
    background-color: white;
}
.try{
    color: white;
    background-color: #5e9ae9;
    padding:5%;
    width: 50%;
    display:flex;
    justify-content: center;
    
}
.free{
    padding: 5%;
}
.charges>.standard{
    height:100%;
    

    /* padding-bottom: 10%; */
}
.standard>.organize{
    color: white;
    padding: 5%;
}
.permonth{
    display:flex;
    align-items: center;
}
.update{
    display:flex;
    flex-wrap: wrap;
    /* border: solid ; */
    /* justify-content: space-evenly; */
    align-items: center;
    padding-bottom: 10%;
    /* padding:  5% 2% ; */
    /* left: 15%; */
    gap:5%;
    width:100%;
    font-size: 1.3rem;

    /* left:5%; */

}
.mainupdate{
    background-color: #fff;
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width:90%;
    /* background-color: #8d4141; */
    /* justify-content: start; */
    /* justify-content: right; */
}
 .submain{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
 }
.free{
    font-size: 2rem;
}
.organize{
    font-size: 1.3rem;
    text-align: center;
    width:50%;
    color: rgb(134, 134, 129);
}
.offer{
    /* padding-top:2%; */
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    /* height:100vh; */
    background-color: #151233;
    color: white;
    

    /* left:10%; */

}
.pic{
    width:30rem;
    /* height:20rem; */
    padding:3%; 
}
.words{
    display: flex;
    flex-wrap:wrap;
    width:30%
    
}
.para>p{
    text-align: justify;
    font-size: 1.2rem;
}
.head{
    width:80%; 
    padding-top:10%;
    padding-bottom: 4%;
    font-size: 2rem;
}
.contact{
    display: flex;
    justify-content: center;
   
    /* margin-top: 60%; */
    /* width:20rem; */
}
.book{
    display:flex;
    /* justify-content: center; */
    height:35rem;
    width:43rem;
    background-color: white;
    gap:5%;
    /* position: relative; */
    top:-40px;
    /* top:450% */
    /* bottom:-99%; */
    
}
.lower{
    display:flex;
    flex-direction: column;
    width:025rem;
    /* width:100%; */
    background-color: #fff;
    justify-content: space-between;
    height:80%;
    font-size: 1.2rem;

    /* align-items: center; */
    /* justify-content: space-around; */
   /* padding:10%;
   padding-bottom: ; */
}
.name{
    /* padding-bottom: 5%; */
    width:90%;
    background-color: rgb(228, 223, 223);
    color:gray;
    border-radius: 5%;
    display: flex;
    align-items: center;
    padding:2%;
    
}
.appointmentbtn{
    display: flex;
    justify-content: center;
    padding:2%;
    width:90%;
    color: white;
}
.finish{
    display: flex;
    align-items: center;
    padding-top: 20%;
    justify-content: center;
    
    
    /* gap:20% */
}
/* .contact{
    display:none;
} */
.top{
    font-size: 2rem;
    padding-top:10%; 
    padding-bottom: 3%; 
    font-weight: 700;
}
.family{
    height:100%
}
.business{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.business>h2{
    font-size: 1.5rem; 
    font-weight: 700;
    /* padding-bottom:5% */
}
.business>p{
    font-size: 1.2rem;
}
.consulting{
    width:80%;
    background-color: whiteu;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    /* height: 60vh; */
    /* padding-top: 5%; */

}
.us{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height:fit-content;
    padding:1%;
    border-radius: 10%;
}
@media screen and (max-width:600px) {
    .cards{
        display:flex;
        /* bottom:-40%; */

    }
    .card{
        /* height:100px;
        padding:20px;
        width:16rem;
        gap:10px; */
    }
    .submain{
        display:flex;
        flex-wrap:wrap;
        padding-top: 5%;
        /* width:700px; */
        /* border: solid; */
        /* margin-left: 130px; */
     }
     .organize{
        font-size: 0.9rem;
        text-align: center;
        width:25%;
        
    }
    .offer{
       
        display: flex;
        width:100%;
        /* justify-content: center; */
        height:100vh;
        font-size: small;
        /* margin-right: 70%; */
    }
    .sponsor{
        margin-top: 500px;
        /* display:flex;
       flex-wrap:wrap;
        justify-content: space-evenly;
        align-items: center; */
        gap:5%;
        margin-left:0.1rem;
        bottom: 1%;
        
    }
    .logo{
        width:50px;
    }
    .charges{
        height: 400px;
        width:40%; 
        font-size: 1rem;
        display: flex;
        /* flex-direction: column; */
        /* gap:5%; */
    }
    .free{
        font-size: 1rem;
    }
    /* .update{
        font-size: 0.9rem;
    } */
    .newsletter{
        width:80%;
        display:flex;
        justify-content: space-between;
        /* min-height:50%; */
        padding:2%;
        background-image: linear-gradient(rgb(6, 6, 182),rgb(46, 0, 46));
        color: #fff;
       margin-left: 9%;
       margin-top: 30%;
    }
    .zero{
        font-size: 2rem;
    }
    .dollars{
        font-size: 0.7rem;
    }
    .update{
        font-size: 0.8rem;
        padding-bottom: 5%;
        /* padding:  5% 2% ; */
        /* left: 15%; */
        gap:2%;
    }
    .organize{
        font-size: 1rem;
        text-align: center;
        width:90%;
        padding:2%; 
    }
    .free{
        padding:2%;
    }
    .submain{
        display:flex;
        padding-top: 5%;
     }
     .pic{
        width:100px;
        
     }
     .words{
        width:30%;
        height: 50%;
        margin-left: 50%;
     }
     .head{
        width:100%; 
        padding-top:10%;
        padding-bottom: 4%;
        font-size: 0.9rem;
    }
    .book{
        display:flex;
        /* justify-content: center; */
        height:20rem;
        width:30rem;
        background-color: white;
        gap:5%;
        /* position: absolute; */
        top:465%
    }
    .details{
        font-size: 50%;
    }
    .name{
        /* padding-bottom: 5%; */
        width:40%;
        background-color: rgb(228, 223, 223);
        color:gray;
        border-radius: 5%;
        display: flex;
        align-items: center;
        padding:1%; 
    }
    .lower{
        font-size: 0.9rem;
    }
    .top{
        font-size: 1.1rem;
        padding-top: 5%;
    }.appointmentbtn{
        /* display: flex;
        justify-content: center; */
        padding:1%;
        width:40%;
        /* color: white; */
    }
    .consulting{
        width:100%;
        background-color: white;
        height: 80%;
        /* display: flex; */
        /* width: 80%; */
        /* justify-content: space-between;
        align-items: center; */
    }
    .three{
        /* padding-top: 20%; */
        /* height: 100px; */
    }
    .section.person{
        /* padding-top: 40%; */
        /* min-height:150px; */
        /* gap:5%; */
        background-color:#3f95e6;
        /* width:300px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly; */
    }
    .section.two{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top:10%;
        background-color: #3f95e6;
        
    }
    .finish{
        
        padding-top: 40%;
        font-size: 1rem;
    }
    .business>h2{
        font-size: 1rem; 
        font-weight: 700;
    }
    .business>p{
        font-size: 0.9rem;
    }
    
    .endnav{
            display:flex;
            gap:5px;}
    .para>p{
        font-size: 1rem;
    }


}